<div id="showpage-project">
  <p class="detailtitle">{{title}}</p>
  <p><img class="showimg" src="http://joelevinger.s3-us-west-2.amazonaws.com/{{imageURL_lg}}"></p>
  <p><span class="bold">Website: </span><a href="{{siteURL}}" class="sitelinks" target="_blank">{{siteURL}}</a></p>
  <p><span class="bold">Code Repo: </span><a href="{{codeURL}}" class="sitelinks" target="_blank">{{codeURL}}</a></p>
  <p class="detailcontainer">{{{description}}}</p>
</div>
