{{!-- This is the template for displaying the data on the Project Show page. --}}

<div id="showpage-project">
  <p>{{title}}</p>
  <p><img src="assets/{{imageURL_sm}}"></p>
  <p><span class="bold">Website: </span><a href="http://{{siteURL}}" target="_blank">{{siteURL}}</a></p>
  <p><span class="bold">Code Repo: </span><a href="{{codeURL}}" target="_blank">{{codeURL}}</a></p>
  <p><span class="bold">Description: </span>{{description}}</p>
</div>
