<div id="homepage-projects" class="container">
  {{#each projects}}
  <div class="entire-homepage-project" data-id="{{id}}">
    <a href="#" id="project{{id}}" data-id="{{id}}" class="showOneProject">
      <p class="nospace imageborder" data-id="{{id}}">
        <img class="image" src="http://joelevinger.s3-us-west-2.amazonaws.com/{{imageURL_sm}}">
      </p>
    </a>
  </div>
  {{/each}}
</div>
